body{
    color:mediumturquoise;
    padding: 110px;
    border: dotted 2px #000;
    margin-top: 180px;
}

h1{font-size: 36px;}
.image-cropper {
    border: solid 3px palevioletred;
    /*border-radius: 50%;*/
}

.image-cropper > img {
    border-radius: 50%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color:palevioletred;
    font-size: 30px;
}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    display: block;
    float: left;
    background-color: palevioletred;
    position: fixed;
    bottom: 0;
    width: 100%;
}